:root {
    --version_changelog: "Theme Version: Beta 1.7.9, Copyright Luke Alan 2018 \a \a Changelog: More Changes to Catalog \a \a Soon to come: Changed Icons, Button Fixes";
    --dark1: #0d0d0d;
    --dark2: #1b1b1b;
    --dark3: #282828;
    --dark4: #333;
    --dark5: #151515;
    --light1: #bbb;
    --light2: #707070;
    --shadow: rgba(0, 0, 0, 0.6);
    --textcolor: #c1c1c1;
}


/*Shows Version in settings*/
.section-content.settings-account-info-container:after {
    width: auto;
    height: auto;
    left: 15px!important;
    content: var(--version_changelog);
    padding-bottom: 15px;
    background-color: var(--dark2);
    padding-left: 15px;
    padding-top: 0;
    color: #bbbbbb;
    font-weight: 400;
    white-space: pre;
}

.section-content.settings-account-info-container {
    margin-bottom: 50px!important;
    padding: 0;
}

.col-sm-12 {
    padding: 15px;
}


/*Rest of the things*/
body,
.content,
#Body,
#RepositionBody,
.games-list-container,
#MyCreationsTab,
#DeveloperExchangeTab,
html,
.container-footer {
    background-color: var(--dark1)!important;
}

.avatar-card-content,
#LibraryTab,
.SmallCatalogItemView,
.dialog-container .dialog-body,
.dialog-container,
.game-card-container,
.section-content,
.CatalogItemInner.SmallInner {
    background-color: var(--dark2)!important;
}

#build-page td.menu-area a.tab-item,
.verticaltab,
.rbx-left-col{
    background-color: var(--dark2);
}

.separator {
    background-color: var(--dark3)!important;
}

#CashOutWidget,
.divider-left,
.vlist.feeds .list-item {
    border-color: var(--dark3)!important;
}

.tab-container > .tab-active {
    background-color: var(--light2);
}

.SmallCatalogItemView:hover .CatalogItemInner {
    background-color: var(--dark4)!important;
    border-color: var(--dark3)!important;
    box-shadow: 0 0 8px 1px var(--shadow)!important;
}

.tab-container > div {
    background-color: var(--dark4);
}

.ph-modal-popup {
    background-color: var(--dark2)!important;
    box-shadow: 0 0 5px 2px var(--shadow)!important;
}

.menu-vertical {
    background-color: var(--dark2);
    width: 160px;
    box-shadow: 0 1px 3px var(--shadow);
}

.dialog-container .dialog-input-container {
    border-color: var(--dark3)!important;
}

.dialog-input-container,
.dialog-input.ng-pristine.ng-valid,
.dialog-input.ng-valid.ng-isolate-scope {
    background-color: var(--dark3);
}

.section-content.people-list {
    background-color: var(--dark2)!important;
    padding: 15px;
    height: 126px;
}

.people-list-container {
    height: 183px;
}

.game-card-footer {
    border-color: var(--dark3);
}

.vote-mask .segment {
    background-color: var(--dark2)!important;
}

.notification-stream-body.ng-scope {
    background-color: var(--dark3);
}

.notification-stream-header.ng-scope {
    background-color: var(--dark3);
}

.section[id='feed-container'] .section-content,
.chat-main {
    background: var(--dark2);
}

.profile-about-footer {
    border-top: 1px solid var(--dark3);
}

.hlist.friend-list.ng-scope {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.section.game-about-container .section-content {
    background: var(--dark2);
}

.notification-stream-list .notification-stream-item,
.notification-stream-header {
    border-bottom: 1px solid var(--dark3);
}

.notification-stream-list .notification-stream-item:not(.unInteracted) {
    background-color: var(--dark4);
}

.chat-friend-list .chat-friend-info {
    border-bottom: 1px solid var(--dark3);
}

.game-card-container,
.game-card-container:hover {
    position: relative;
    box-shadow: 0 1px 4px 0 var(--shadow);
}

.game-main-content .game-play-buttons,
.game-stats-container {
    border-top: 2px solid var(--dark3);
    border-bottom: 2px solid var(--dark3);
}

.section-content {
    box-shadow: 0 1px 4px 0 var(--shadow);
    padding: 15px;
    position: relative;
}

.notification-stream-list .notification-stream-item.unInteracted {
    background-color: var(--dark2);
}

.notification-data-container .notification-display-text:after,
.notification-data-container .notification-display-text:before {
    display: none;
}

.profile-container .asset-item span[title],
.profile-container .asset-item img {
    border-color: var(--dark3);
}

.rbx-scrollbar-dragger,
.rbx-scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.rbx-scrollbar-dragger,
.rbx-scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: var(--dark4)!important;
}

.gear-button-wrapper {
    background-color: transparent!important;
    border-color: transparent!important;
}

.icon-games-carousel-right,
.icon-games-carousel-left {
    background-color: white;
    border-radius: 50%;
    top: 70px!important;
}

.scroller.next,
.scroller.prev {
    height: 0px;
    background: transparent;
    box-shadow: 0 0 0 0 transparent;
    border: 0px solid transparent;
}

.c-version .search-options .category-section,
.c-version .search-options .filters-section,
.c-version .search-options .search-options-form {
    border-color: var(--dark3)!important
}

.item-card-container {
    background-color: var(--dark2);
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 var(--shadow);
}

.input-field[placeholder="Describe yourself(1000 character limit)"],
.form-control.fake-input-lg,
.form-control.input-field.ng-pristine.ng-untouched.ng-valid,
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched,
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched,
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched{
    background-color: var(--dark2)!important;
    color: var(--textcolor)!important;
    border-color: var(--dark3)!important;
}

.input-addon-btn{background-color:var(--dark2)!important}

.content .page-content .form-group.birthday-container .rbx-select-group .rbx-select,
.content .page-content .form-group.gender-container .gender-button {
    background-color: var(--dark2);
    border-color: var(--dark3);
    color: var(--textcolor);
}

.modal-content {
    background-color: var(--dark2)!important;
}

.modal-dialog .modal-content .modal-header {
    border-color: var(--dark3);
}

.input-dropdown-btn.category-options{background-color:var(--dark2)!important; border-color:var(--dark3)}

.input-field[placeholder="Describe yourself(1000 character limit)"],
.form-control.fake-input-lg,
.form-control.input-field.ng-pristine.ng-untouched.ng-valid[id=facebook],
.form-control.input-field.ng-pristine.ng-untouched.ng-valid[id=twitter],
.form-control.input-field.ng-pristine.ng-untouched.ng-valid[id=googleplus],
.form-control.input-field.ng-pristine.ng-untouched.ng-valid[id=youtube],
.form-control.input-field.ng-pristine.ng-untouched.ng-valid[id=twitch],
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched[id=facebook],
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched[id=twitter],
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched[id=googleplus],
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched[id=youtube],
.form-control.input-field.ng-pristine.ng-valid.ng-not-empty.ng-touched[id=twitch],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=twitter]
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=facebook],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=googleplus],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=youtube],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=twitch],
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched[id=facebook],
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched[id=twitter],
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched[id=googleplus],
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched[id=youtube],
.form-control.input-field.ng-valid.ng-not-empty.ng-dirty.ng-valid-parse.ng-touched[id=twitch],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=facebook],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=twitter],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=googleplus],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=youtube],
.form-control.input-field.ng-pristine.ng-valid.ng-empty.ng-touched[id=twitch]{
    box-shadow: 0 1px 4px 0 var(--shadow)!important;
}

/*Avatars*/
.avatar.card-plain,
.avatar-card-container.card-plain,
.dialog-container .dialog-message-container.message-inbound .dialog-message-avatar-link,
.avatar-card-container .avatar-card-fullbody {
    border-color: var(--dark1);
}

.avatar-card-link.avatar-image-link,
.avatar .avatar-card-image,
.avatar-card-fullbody .avatar-card-image,
.avatar,
.avatar-card-container,
.avatar-container.ng-isolate-scope,
.peopleController {
    background-color: var(--dark1);
}


/*Popovers*/
.popover.ng-scope.ng-isolate-scope.bottom.people-info-card-container.card-with-game,
.dropdown-menu.interaction-container {
    background-color: var(--dark2)!important;
}

.people-info-card-container .place-container .place-info-container .place-title:before,
.people-info-card-container .place-container .place-info-container .place-title:after {
    display: none;
}

.people-info-card-container .place-container,
.people-info-card-container .interaction-item .label {
    border-color: var(--dark3)!important;
}

.popover .arrow {
    display: none;
}

.dropdown-menu {
    background-color: var(--dark2);
    box-shadow: 0 2px 8px 1px var(--shadow);
}

.popover {
    background-color: var(--dark3);
    border-radius: 4px!important;
    box-shadow: 0 0 5px 1px var(--shadow);
}

.verticaltab.selected {
    box-shadow: 4px 0 0 0 #00A2FF inset;
    animation: none!important;
}


/*Hover, Active, Focusing Effects (DISABLING IS NOT IMPLEMENTED YET)*/
.avatar.avatar-card-fullbody:hover {
    box-shadow: 3px 4px 8px 0px var(--shadow);
    transform: translate3d(-2px, -2px, 0);
}

.avatar.avatar-card-fullbody:active {
    box-shadow: 3px 4px 2px 0.2px var(--shadow);
    transform: translate3d(-1px, -1px, 0);
    transition: all 50ms cubic-bezier(0, 0, 0.2, 1)!important;
}

.notification-stream-list .notification-stream-item:hover,
.chat-friend-list .chat-friend-container:hover,
.dropdown-menu li:hover,
.menu-vertical .menu-option:hover,
.menu-vertical .menu-option:focus,
.menu-vertical .menu-option.active,
.input-group-btn .dropdown-menu li a:hover,
.input-group-btn .dropdown-menu li a:focus,
.input-group-btn .dropdown-menu li a.active,
.verticaltab:hover:not(.selected) {
    animation: shadowinrightblue 150ms cubic-bezier(0, 0, 0.2, 1)!important;
    animation-fill-mode: forwards!important;
}

.btn-secondary-xs:focus,
.btn-control-xs:focus,
.btn-primary-xs:focus {
    box-shadow: 0px 0px 2px 1px var(--shadow);
}

.btn-secondary-xs:hover,
.btn-primary-sm:hover,
.btn-primary-xs:hover {
    box-shadow: 3px 4px 4px 1px var(--shadow)!important;
    transform: translate3d(-1px, -1px, 0);
}

.btn-secondary-xs:active,
.btn-primary-xs:active {
    box-shadow: .5px 1.5px 1px .5px var(--shadow)!important;
    transform: translate3d(-0px, -0px, 0)
}

.btn-primary-md:hover,
.btn-primary-md:focus {
    box-shadow: 0 1px 3px var(--shadow)!important;
}

.btn-control-xs:hover {
    background-color: #d0d0d0;
    box-shadow: 0 1px 3px var(--shadow);
    border-color: #d0d0d0;
    color: #191919;
    cursor: pointer;
}

.btn-control-md:hover,
.btn-control-md:focus {
    background-color: #fff;
    box-shadow: .5px 1.5px 1px .5px var(--shadow)!important;
    border-color: #B8B8B8;
}

.icon-games-carousel-right:hover,
.icon-games-carousel-left:hover {
    box-shadow: 3px 4px 4px 1px var(--shadow)!important;
    transform: translate3d(-1px, -1px, 0);
}

.icon-games-carousel-right:active,
.icon-games-carousel-left:active {
    box-shadow: 1px 1.5px 4px 1px var(--shadow)!important;
    transform: translate3d(0px, 0px, 0);
}

.chat-friend-list .chat-friend-container:hover {
    background-color: var(--dark4)!important
}

.rbx-tabs-horizontal .rbx-tab-heading:hover,
.rbx-tabs-horizontal .rbx-tab-heading:focus,
.rbx-tabs-horizontal .rbx-tab-heading:active {
    animation: shadowinupblue 100ms
}

.rbx-tabs-horizontal .rbx-tab.active .rbx-tab-heading {
    animation: none!important;
}

.input-field[placeholder="Describe yourself(1000 character limit)"]:focus {
    background-color: var(--dark4);
    box-shadow: 0 1px 10px 0 var(--shadow)
}

.menu-vertical .menu-option:hover {
    background-color: var(--dark3)
}


/*Hover, Active, Focusing Effects Fixes*/
.avatar-container {
    border-radius: 50%;
}

.people-list .friend .friend-name {
    display: none;
}

.icon-more {
    filter: invert(100%);
}


/*Text Colour*/
.people-list .friend .friend-name,
.friend-list .friend .friend-name,
.small,
.small-oneline {
    color: var(--light1);
}

body {
    color: white;
}

.chat-friend-list .chat-friend-info .chat-friend-message.font-bold {
    color: var(--light1)!important;
}

.notification-data-container .notification-display-text {
    color: var(--textcolor);
}

.dialog-input.ng-valid.ng-isolate-scope {
    color: var(--textcolor)
}

.dropdown-menu li:hover {
    background-color: var(--dark5);
    box-shadow: 4px 0 0 0 #00A2FF inset;
}

.popover-content .dropdown-menu li a,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:link,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:active,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:hover,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:visited,
.rbx-header .rbx-navbar-icon-group li .popover-content .rbx-menu-item:focus {
    display: block;
    color: var(--textcolor);
    font-weight: 300;
}

.rbx-tab-horizontal-submenu li {
    color: var(--textcolor);
}

.item-card-container {
    color: var(--light1)!important
}

.rbx-left-col li a{color:var(--light1)}

.item-card-thumb-container {
    border-bottom: 1px solid var(--dark3);
}


/*Icon Colours*/
.icon-nav-home {
    background-position: -28px -140px;
}
.icon-nav-profile {
    background-position: -28px -168px;
}
.icon-nav-message {
    background-position: -28px -196px;
}
.icon-nav-friends {
    background-position: -28px -224px;
}
.icon-nav-charactercustomizer {
    background-position: -28px -252px;
}
.icon-nav-inventory {
    background-position: -28px -280px;
}
.icon-nav-trade {
    background-position: -28px -308px;
}
.icon-nav-group {
    background-position: -28px -336px;
}
.icon-nav-blog {
    background-position: -28px -392px;
}
.icon-nav-shop {
    background-position: -28px -448px;
}
.icon-nav-search,
.icon-search{  background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAABPElEQVR4Ae3QAUSccRjH8TebO+NgMGaDmTFsISWUAgGCQwVBUFCAJAKCqigSRCgQUiCVKAgEdJBARF24iAr11icUuO71fy8C7gvw4+PxRO+tlpwO/YZ1+/9+pN6OGACXxmSqRTKmPXrbsaZqmKxDQOzIimm7SoBYV3poGbDvZ/SaOgNuwJ1/6ZhGwJS6suWPM7CdDtoEGxW3BjFoDDNfxXjwPWGfB7NhKA8OEvcOUAhDg2Ahcf8GSmFoBEwm7l/AfRjqA6uJ+19wFoaawWXiPgDWo3DOQU/F7ZMC6I3CGQVXflXY5kBJNgonpwiK2svevAAYjNKlzSN4sijvt5xWQ04BJ1H65F2rXBFsyaSlflhT3o0ZnwlTZWkx4cCFWwVLOl9ebAthKpysvRpVNTUWhQtT4YvSUeNhptYH9QzDmstiBLQWNgAAAABJRU5ErkJggg==');
    background-position:0 0!important;
    background-size: contain!important;
}

/*Transitions*/
.game-card-container {
    transition: all 50ms cubic-bezier(0, 0, 0.2, 1);
    transition-delay: 150ms;
}

.people-list .friend .friend-name,
.friend-list .friend .friend-name {
    transition: color 150ms cubic-bezier(0, 0, 0.2, 1)!important;
}

.btn-secondary-xs,
.btn-control-xs,
.btn-primary-sm,
.btn-primary-xs {
    transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-more {
    transition: background-position 500ms cubic-bezier(0, 0, 0.2, 1);
}

.icon-games-carousel-right {
    transition: box-shadow 100ms ease, transform 100ms ease;
}

.input-field[placeholder="Describe yourself(1000 character limit)"] {
    transition: all 150ms ease;
}

.menu-option.ng-scope {
    transition: all 150ms ease;
}

.avatar.avatar-card-fullbody {
    transition: all 250ms ease;
}
/*Text Hide*/
.text-overflow.xsmall.place-name.ng-binding.ng-scope {
    display: none;
}
/*Animations*/
@keyframes shadowinrightblue {
    from {
        box-shadow: 0 0 0 0 #00A2FF inset;
    }

    to {
        box-shadow: 4px 0 0 0 #00A2FF inset;
    }
}

@keyframes shadowinupblue {
    from {
        box-shadow: 0 0 0 0 #00A2FF inset;
    }

    to {
        box-shadow: 0 -4px 0 0 #00A2FF inset;
    }
}
